{% extends 'pages/base.html' %} {% block content %} {% if country %}
<div class="container">
  <h1 class="text-info font-weight-bold text-center tertiaryFont mt-5">
    More information about {{ country.name }}
  </h1>
</div>
{% endif %}

<div class="container mt-5 mb-5 largerFontSize">

  <div class="table-responsive-sm">
    <table class="table defaultFontSize mx-auto table-striped">
      <tr>
        <th>Name:</th>
        <td>{{ country.name }}</td>
      </tr>
      <tr>
        <th>Area:</th>
        <td>{{ country_area }}</td>
      </tr>
    </table>
  </div>

  {% if cities_in_country %}
    <h2>Cities in {{ country.name }}</h2>
  {% endif %}

  
  {% for city in cities_in_country %}
    {{ city.accentcity }}{% if not forloop.last %}, {% endif %}{% if forloop.last %}.{% endif %}
  {% empty %}
    <p>No cities in the dataset</p>
  {% endfor %}
</div>

{% endblock %}
