{% extends 'pages/base.html' %} {% block content %}

<div class="container">
  <h1 class="text-info font-weight-bold text-center tertiaryFont mt-5">
    LaerdzDev WorldClock
  </h1>
</div>

<div class="container mb-1">
  <div class="" id="worldtime_map"></div>
</div>

<div class="container mb-4">
  <div class="row">
    <div class="col-sm-8 mx-auto" style="background-color: yellow">
      <p class="my-1"></p>
      <p class="my-1" id="mapRealTimeDiv"></p>
    </div>
  </div>
</div>

<script>
  const WorldCountriesJson = "{{ countries_json|escapejs }}";
</script>

{% endblock %}
