{% extends 'pages/base.html' %} {% block content %}

<div class="container">
  <h1 class="text-info font-weight-bold text-center tertiaryFont mt-5">
    LaerdzDev WorldClock
  </h1>
</div>

<div class="container mb-1">
  <div class="" id="worldtime_map"></div>
</div>

<div class="container">
  <div class="mb-4 bg-light" style="min-height:200px">
    <div class="row">
      <div id="mapResults" class="col-sm-8 mx-auto">
        <h4 class="text-center font-weight-bolder" id="mapcountryDetailsDiv"></h4>
        <h4 class="text-center" id="mapRealTimeDiv"></h4>
      </div>
    </div>
  </div>
</div>

<script>
  const WorldCountriesJson = "{{ countries_json|escapejs }}";
</script>

{% endblock %}
