{% extends 'spatialdemos/base.html' %}

{% block headmedia %}{% endblock %}

{% load humanize %}
{% load static %}


{% block content %}

<div class="container bg-light rounded-lg">
    <div class="my-1 px-4 py-2">
      <h4 class="display-5 text-success">Generous Retail Store</h4>
      <p class="my-1 lead">Yes to Progress!</p>
    </div>
    <div class="px-4 py-1">
      <h5 class="display-5 text-success">Customers Location</h5>
    <div class="mb-1">
      <div class="w-100 mx-auto" id="locationdemo_map"></div>
      <div id="mapcontent" class="container bg-light" style="min-height: 120px;"></div>
    </div>
    </div>
</div>


<script>
  const nairobiConstituenciesjson = "{{ nairobi_constituencies_json|escapejs }}";
  const storeCustomersjson = "{{ all_customers_json|escapejs }}";
</script>

<script src="{% static 'spatialdemos/js/locationMap.js' %}"></script>



{% endblock %}
