@import "variables";
@import 'classes';

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $primaryFont;
}

body {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  color: $darkPrimaryColor;

  #homeWrapper{
    min-height: 75vh;
  }


  #mainNavigation{
    a{
        color: $black;
    }
  }

  #form_inspirationDiv{
    background-image: url("../pics/site_BG.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-clip: padding-box;
    

    #formDiv{
        background-color: rgb(255, 255, 255);
        font-size: xx-large;
      }

    #inspirationDiv{
      font-family: "BarlowSemiCondensed-Thin";
      font-size: x-large;
      color: $white;
    }

    #formModal{
      // font-family: "BarlowSemiCondensed-Regular";
    }

  }

  

  .fromLeft {
        opacity: 0;
        transform: translate(-12px, 0px);
        transition: opacity 750ms ease-in-out, transform 500ms ease-out;
    }
    .fromRight {
        opacity: 0;
        transform: translate(12px, 0px);
        transition: opacity 750ms ease-in-out, transform 500ms ease-out;
    }
    .normal {
        opacity: 1;
        transform: translate(0px, 0px);
        transition: opacity 750ms ease-in-out, transform 500ms ease-out;
    }
  
}

footer{
  
  #footerDetails {
    color: $primaryColor;
    text-align: center;
    #socialMediaLinks {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      margin: 0;
      
      a {
          color: $darkPrimaryColor;
          font-size: larger;
          text-decoration: none;
          font-weight: 600;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  body {
    #form_inspirationDiv .line{
      display: none;
    }
  }
}