{% load static %}
{% load humanize %} 

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% block title %}
            {% if pageName %}
                <title>{{ pageName }} | LaerdzDev</title>
            {% else %}
                <title>LaerdzDev GIS</title>
            {% endif %}
        {% endblock %}

        <link rel="stylesheet" type="text/css" href="{% static 'pages/css/bootstrapStyling.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'pages/css/mapStyling.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'pages/css/personalsite.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'pages/css/worldtimeMap.css' %}">
    </head>

    <body>

        <div class="h-75 primFont">
            <div class="container">
                {% include 'pages/mainNavigation.html' %}
            </div>
            {% block content %}{% endblock %}
        </div>



        <script src="{% static 'pages/js/bootstrapStyling.js' %}"></script>
        <script src="{% static 'pages/js/personalsite.js' %}"></script>
        <script src="{% static 'pages/js/worldtimeMap.js' %}"></script>

    </body>

    {% include 'pages/footer.html' %}

</html>