<footer>
    <div class="p-5">
        <div id="footerDetails">
            <p>Connect through</p>
            <div id="socialMediaLinks">
                <p><a href="https://twitter.com/JWokiri" title="Connect in Twitter.">Twitter</a></p>
                <p class="line"></p>
                <p class="line"></p>
                <p><a href="https://github.com/Wokiri" title="Connect in GitHub.">GitHub</a></p>
                <p class="line"></p>
                <p class="line"></p>
                <p><a href="mailto:wokirijoe@gmail.com" title="Email WJe.">Email</a></p>
            </div>
        </div>
    </div>
</footer>