<footer>

    <div class="container col-sm-6 p-5">
        <h4>Resources for Developers</h4>
        <ul class="navbar-nav">
            <li class="navbar-item border-bottom">
                <a class="nav-link" href="https://www.djangoproject.com/" title="Email WJe.">
                    All you need to know about Django
                </a>
            </li>
            <li class="navbar-item border-bottom">
                <a class="nav-link" href="https://docs.djangoproject.com/en/3.1/faq/" title="Email WJe.">
                    Django FAQ
                </a>
            </li>
        </ul>
    </div>

    <div class="container col-sm-6 p-5">
        <h4>Useful Resources for Developers</h4>
        <ul class="navbar-nav">
            <li class="navbar-item border-bottom">
                <a class="nav-link" href="https://www.djangoproject.com/" title="Email WJe.">
                    All you need to know about Django
                </a>
            </li>
            <li class="navbar-item border-bottom">
                <a class="nav-link" href="https://docs.djangoproject.com/en/3.1/faq/" title="Email WJe.">
                    Django FAQ
                </a>
            </li>
        </ul>
    </div>

    <div class="p-5">
        <div id="footerDetails">
            <p>Reach me through</p>
            <div id="socialMediaLinks">
                <p><a href="https://twitter.com/JWokiri" title="Connect in Twitter.">Twitter</a></p>
                <p class="line"></p>
                <p class="line"></p>
                <p><a href="https://github.com/Wokiri" title="Connect in GitHub.">GitHub</a></p>
                <p class="line"></p>
                <p class="line"></p>
                <p><a href="mailto:wokirijoe@gmail.com" title="Email WJe.">Email</a></p>
            </div>
        </div>
    </div>
</footer>