<h4 class="text-center font-weight-bold">Inspiration</h4>
<p>
    With remarkable prowess, and impressive professionalism we at <span class="font-weight-bold">Joe4Dev</span> will go all the length to do the job.
    Our all time driving purpose and mandate is to submit impressive, functional web apps-- the very kind you need if not better.
</p>

<p>
    Our dedication to this business is uncoerced, we love what we do for the manifold joys it bring;
    <br>and that you may see all this, and our commitment to serve you are the two ends we're striving to
    meet in this inspirational writeup.
</p>

<p>
    So scroll down through to the end. We are the guys whose invaluable resources (mental and otherwise)
    you might want to engage.
</p>

<p>
    The internet and the web comes with unique benefits aimed for the service of humanity.
    In one way or anther, you must have benefited from the wonderful offers that web technology has and continues to offer.
    The design of various useful applications is built on an altogether admirable phylosophy-- to make life a little easier and better.
    This is often seen in the internet's contribution to enhance the possibilities of bussiness,
    market skills, enable inter-global social relations or facilitate any worthwhile possibility.
    This concept reasonates largely with our idea of 'good life.' We want good life and we want one for you too.
</p>

<p>
    It is on the stated facts that <span class="font-weight-bold">Joe4Dev</span> was conceived.<br>
    The sole purpose, we reiterate, is to extend the promises of web apps.
    We bring solutions from a wide spectra of options amongst which include:
<ul class="nav font-weight-bold">
    <li class="nav-item">
        <a class="nav-link text-light" href="{% url 'pages:projects_page' %}">Map Apps</a>
    </li>

    <p class="line"></p>

    <li class="nav-item">
        <a class="nav-link text-light" href="{% url 'pages:projects_page' %}">Commerse Apps</a>
    </li>

    <p class="line"></p>


    <li class="nav-item">
        <a class="nav-link text-light" href="{% url 'pages:projects_page' %}">Portfolios</a>
    </li>

    <p class="line"></p>


    <li class="nav-item">
        <a class="nav-link text-light" href="{% url 'pages:articles_page' %}">Tech Blogs</a>
    </li>

    <p class="line"></p>


    <li class="nav-item">
        <a class="nav-link text-light" href="{% url 'pages:projects_page' %}">GIS & LBSs</a>
    </li>
</ul>
</p>


<p>
    Is'nt it particularly interesting that mankind at a time as constitutes the present finds his life
    revolving around some (if not all) aspects of this great technological dynamic? The various forms in which
    technology has revolutionized within just over two decades is a many sided reality that speaks of nothing but
    exponential growth.<br> Life has definitely been made 'better' by the developement of uncountable useful applications.
</p>

<p>
    <span class="font-weight-bold">At Joe4Dev we build very efficient web apps.</span>
    This involves intergrating modern frameworks (python's and JavaSript's) to the basic building blocks of web apps.
    We however find an accute love for Django (and GeoDjango for spatial intergtaions) because of the various
    powerful options it has on the platform.<br>

<blockquote class="blockquote">
    <p>
        The Django philosophy is to include all the required pieces to make a full web
        application for the internet. This “batteries-included” philosophy is what makes Django so powerful.
    </p>
    <footer class="blockquote-footer text-light">
        <a class="text-light" href="https://www.mattlayman.com/understand-django/">article: Understand Django</a>
    </footer>
</blockquote>
</p>

<p>
    We build very good websites. They are functional, secure, dynamic, beautiful and manageable, thanks to Django and friends.
</p>

<p>
    With the Django Geographic framework we bring GIS to the web. GeoDjango is a world-class geographic Web framework with the goal
    of making GIS Web applications (<a class="text-light" href="{% url 'pages:projects_page' %}">examples here</a>)
    and leaverage the power of spatially enabled data.
</p>

<p>
    We constantly look forward to is seeing a satisfied, smiling customer.
    <span class="text-info font-weight-bold">
        This we do by delivering excellently to our clients; It is exactly what we do.
    </span>
</p>

<p class="text-center mt-4">Would you now discuss your project with us?</p>


<div class="d-flex justify-content-center m-4">
    <a href="#formDiv">
        <button class="btn btn-info pt-2 pb-2 pl-5 pr-5">
            Yes Joe, kindly bring the inquiry form!
        </button>
    </a>
</div>