<div class="container">
  <blockquote class="blockquote">
    <p>
      The Django philosophy is to include all the required pieces to make a full
      web application for the internet. This “batteries-included” philosophy is
      what makes Django so powerful.
    </p>
    <footer class="blockquote-footer text-light">
      <a class="text-light" href="https://www.mattlayman.com/understand-django/">article: Understand Django</a>
    </footer>
  </blockquote>

  <p>
    We build very good websites. They are functional, secure, dynamic, beautiful
    and manageable, thanks to Django and friends.
  </p>

  <p>
    With the Django Geographic framework we bring GIS to the web. GeoDjango is a
    world-class geographic Web framework with the goal of making GIS Web
    applications
    <a class="text-light" href="{% url 'pages:projects_page' %}">(examples here)</a>
    and leaverage the power of spatially enabled data.
  </p>
</div>
