<h4 class="text-center font-weight-bold">Inspiration</h4>

<p>
    That you may appreciate my uncoerced dedication to this business, my love for it and the manifold joys it bring;
    <br>and that you may see my prowess, professionalism and commitment to serve you, are the two ends I'm striving to
    meet in this inspirational writeup.
</p>

<p>
    My mandate is to submit impressive, functional web apps-- the very kind you need if not better.
</p>

<p>
    So scroll down through to the end. I want to show you why I code, and why I'm the guy whose invaluable resources
    (mental and otherwise) you might want to engage.
</p>

<p>
    I am a beneficiary of the unique benefits that technology has and continues to offer.
    I've been moved by these innovations-- whether its in the internet and the web, or in the various useful applications.
    I admire the whole phylosophy behind their creation-- to make life a little easier and better,
    to enhance the possibilities of bussiness, and to facilitate anything worthwhile--
    reasonates largely with my idea of 'good life.' I want good life and I want one for you too.
</p>

<p>
    And so it is that my love for technology has been cultured. The conception of <span class="font-weight-bold">Joe4Dev</span> is a result of this inspiration.<br>
    The sole purpose, I reiterate, is to extend the promises of web apps.
    I bring solutions from a wide spectra of options amongst which include:
<ul class="nav font-weight-bold">
    <li class="nav-item">
        <a class="nav-link text-light" href="{% url 'pages:projects_page' %}">Map Apps</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="{% url 'pages:projects_page' %}">Commerse Apps</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="{% url 'pages:projects_page' %}">Portfolios</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="{% url 'pages:articles_page' %}">Tech Blogs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="{% url 'pages:projects_page' %}">GIS & LBSs</a>
    </li>
</ul>
</p>

<p>
    It particularly interest me that mankind at a time that constitutes the present finds his life
    revolving around some (if not all) aspects of this great technological dynamic. The various forms in which
    technology has revolutionized within just over two decades is a many sided reality that speaks of nothing but
    exponential growth.<br> Life has been made 'better' by the developement of uncountable useful applications.
</p>

<p>
    Besides the basic building blocks of web app: HTML, CSS and JS, I intergrate many of JavaScript frameworks used to
    develop modern efficient apps. I particularly love Django (and GeoDjango for spatial intergtaions) for the various
    powerful options it has on the platform.<br>

<blockquote class="blockquote">
    <p>
        The Django philosophy is to include all the required pieces to make a full web
        application for the internet. This “batteries-included” philosophy is what makes Django so powerful.
    </p>
    <footer class="blockquote-footer text-light">
        <a class="text-light" href="https://www.mattlayman.com/understand-django/">article: Understand Django</a>
    </footer>
</blockquote>
</p>

<p>
    If there's one thing I'm looking forward to is making something of my life. I want to build myself in every reasonable way
    that there is.
    <span class="text-info font-weight-bold">
        This I do by delivering excellently to my clients and thats exactly what I will do for you.
    </span>
</p>

<p class="text-center mt-4">Do you now want to discuss your project with me?</p>


<div class="d-flex justify-content-center m-4">
    <button class="btn btn-info pt-2 pb-2 pl-5 pr-5" data-toggle="modal" data-target="#formModal">
        Yes Joe, kindly bring the inquiry form!
    </button>
</div>

<!-- The form Modal -->
<div class="modal fade primFont" id="formModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content darkPrimaryColor">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">REACH OUT</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action=".">
                    {{ inquiry_form.as_p }}
                    <div class="d-flex justify-content-center">
                        <input type="button" value="Inquire" class="btn btn-light pt-2 pb-2 pl-5 pr-5">
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close Form</button>
            </div>

        </div>
    </div>
</div>